.header {
    height: 155px;
    background-image: linear-gradient(0, #fe6532,
            #f53d2d);
    max-width: 100%;
    margin: 0 auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    position: relative;

}

.nav-item:hover,
.nav-link:hover {
    color: rgba(255, 255, 255, 0.7);

}

.nav-link {
    color: white;
    position: relative;

}

.nav-link--notify:hover {
    display: block;
}

.nav-link--seperate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 2px solid #fda089;
    right: -1px;
    top: 38%;
}

.logo {
    width: 160px;
    height: 65px;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: -20px;
}

.btn-secondary {
    background-color: #fb5533;
}

/* Container */
.container {
    max-width: 75%;
}

.img2 {
    width: 100%;
    height: 255px;
    margin-top: 25px;
}

.img3 {
    width: 100%;
    height: 255px;
    margin-top: 10px;
}

.carousel-inner img {
    width: 1000px;
    height: 520px;
}

.col-sm-8 {
    margin-top: 25px;
}

/* Banner */
.banner {
    background-color: white;
    height: 200px;
    margin-top: 15px;
}

.col {
    height: 100px;
    display: inline;
    float: left;
}

.col-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    margin: 20px 50px;
}

.col-text {
    text-align: center;
}

.col-sm {
    height: 110px;
    flex-grow: 0;
    margin-top: 15px;
}

/* Chat box */
.chat-box {
    box-sizing: border-box;
}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* Ẩn chatbox mặc định */
.Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Thêm style cho form */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* thiết lập style textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Thiết lập style cho nút trong form*/
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
    background-color: red;
}

/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover,
.nut-mo-chatbox:hover {
    opacity: 1;
}

/* Message */
.header-info {
    display: flex;
    gap: 12px;
}

.header-boxchat {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.header-boxchat img {
    border-radius: 50%;
    width: 55px;
}

.options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.options button {
    background: transparent;
    border: none;
}

/* footer */
.footer-boxchat {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

.items button {
    background: transparent;
    border: none;
}

.fa {
    font-size: 25px;
    color: #fff;

}

.inputmsg {
    position: relative;
    align-items: center
}

.inputmsg .fa {
    color: red;
    background: transparent;
    top: 4px;
}

.inputmsg i {
    position: relative;
    left: -38px;

}

.inputmsg input {
    border: none;
    outline: none;
    height: 2rem;
    padding-left: 10px;
}

.fa-paper-plane {
    background-color: black;
}

.bot-chat {
    right: 0;
    bottom: 0;
    width: 450px;
    /* transition: display 1s; */
    position: absolute;
    /* display: none; */
    transition: opacity 1s ease-out;
    opacity: 1;
}
.header-boxchat{
    cursor:move;
}

.center-boxchat {
    position: relative;
    min-height: 50vh;
    max-width: 450px;
    background-color: #4CAF50;
    overflow: scroll;

}

.chat {
    position: relative;
}

.left {
    position: relative;
    display: flex;
    gap: 12px;
    left: 0;
}

.left img {
    border-radius: 50%;
    width: 30px;
    margin: 10px;
}

.right {
    position: relative;
    display: flex;
    gap: 12px;
    right: -85%;
    margin: 10px;
}

.content-left {
    margin-top: 14px;
}
/* Drap and drop */
#myFormheader{
    cursor: move;
    z-index: 10;
}
#myForm{
    position: absolute;
    z-index: 9;
}

/* Open Form */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 100px;
    border-radius: 50%;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }